In [58]:
import pandas as pd

In [59]:
df = pd.read_excel("Assignment 2.xlsx")

In [60]:
df_count = df.loc[:,"baseball":"family"]

In [61]:
df_user = df[df.columns[df.columns.str.contains("User")]]

Creation of profiles

In [62]:
profiles = {}
for user in df_user.columns:
    profiles[user] = pd.DataFrame()
    for c in df_count.columns:
        profiles[user][c] = df_count[c] * df_user[user]
    profiles[user] = profiles[user].sum().reset_index().rename(columns={0:user})

In [63]:
profiles["User 1"]

       index  User 1
0   baseball     3.0
1  economics    -2.0
2   politics    -1.0
3     Europe     0.0
4       Asia     0.0
5     soccer     2.0
6        war    -1.0
7   security    -1.0
8   shopping     1.0
9     family     0.0

In [64]:
profiles = pd.merge(profiles["User 1"], profiles["User 2"], on="index").set_index("index")

In [65]:
profiles["User 1"]

index
baseball     3.0
economics   -2.0
politics    -1.0
Europe       0.0
Asia         0.0
soccer       2.0
war         -1.0
security    -1.0
shopping     1.0
family       0.0
Name: User 1, dtype: float64

In [66]:
df_count.apply(lambda x: x * profiles["User 1"], axis=1).sum(axis=1).sort_values()

1    -4.0
16   -4.0
18   -4.0
9    -3.0
3    -3.0
13   -2.0
12   -2.0
7    -2.0
19   -1.0
6    -1.0
4    -1.0
10    0.0
14    0.0
17    1.0
2     2.0
5     3.0
8     3.0
11    4.0
0     4.0
15    6.0
dtype: float64

In [78]:
(df_count.apply(lambda x: x * profiles["User 2"], axis=1).sum(axis=1).sort_values() < 0).sum()

4

Part 2

In [68]:
df_count_norm2 = df_count.apply(lambda x: x / (x.sum() ** 0.5), axis=1)

In [69]:
profiles_norm2 = {}
for user in df_user.columns:
    profiles_norm2[user] = pd.DataFrame()
    for c in df_count_norm2.columns:
        profiles_norm2[user][c] = df_count_norm2[c] * df_user[user]
    profiles_norm2[user] = profiles_norm2[user].sum().reset_index().rename(columns={0:user})

In [70]:
profiles_norm2 = pd.merge(profiles_norm2["User 1"], profiles_norm2["User 2"], on="index").set_index("index")

In [71]:
df_count_norm2.apply(lambda x: x * profiles_norm2["User 1"], axis=1).sum(axis=1).sort_values()

1    -0.870053
16   -0.870053
18   -0.847214
9    -0.805073
3    -0.620053
12   -0.396447
7    -0.370053
6    -0.353553
13   -0.331378
4    -0.213541
19   -0.081378
10    0.044658
14    0.142229
17    0.554695
2     0.711105
0     1.009019
8     1.132724
11    1.333114
5     1.370923
15    1.924646
dtype: float64

In [72]:
df_count_norm2.apply(lambda x: x * profiles_norm2["User 2"], axis=1).sum(axis=1).sort_values()

11   -1.227723
15   -1.183064
0    -0.845577
8    -0.724476
2     0.016294
9     0.274493
4     0.319151
5     0.336184
10    0.349628
18    0.483442
6     0.744432
14    0.949043
7     1.014111
17    1.060660
19    1.237718
13    1.776393
12    1.802786
3     1.987718
1     2.526393
16    2.526393
dtype: float64

### Part 3

In [76]:
idf = 1 / df_count.sum()

In [77]:
df_count_norm2.apply(lambda x: x * profiles_norm2["User 1"] * idf, axis=1).sum(axis=1).sort_values()

1    -0.136187
16   -0.136187
9    -0.128031
18   -0.121533
3    -0.089197
6    -0.058926
12   -0.057253
13   -0.053281
7    -0.047530
4    -0.043527
19   -0.006291
10    0.018752
14    0.021184
17    0.071635
2     0.109459
8     0.179067
0     0.247612
11    0.311648
5     0.319432
15    0.396153
dtype: float64